@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);

$background-primary: #aad8d3;
$background-secondary: #393e46;
$primary-color: #00adb5;
$text-color: whitesmoke;

body {
  color: $text-color;
  background-color: $primary-color;
}

.card {
  background-color: $background-secondary;
  margin-bottom: 8px;
  h5 {
    text-align: center;
    text-decoration: underline;
  }
}

.container {
  margin: auto;
  margin-top: 10px;
  background-color: $background-primary;
  box-shadow: 5px 10px $background-secondary;
}

.jumbotron {
  background-color: $background-secondary;
  color: $text-color;
  text-align: center !important;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  .heading-rule {
    margin: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $text-color;
  }
}

footer {
  margin-top: 15px;
  ul {
    list-style: none;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}

#main-option-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
  button {
    color: $text-color;
  }
  .bi {
    margin-right: 5px;
    color: $background-secondary;
  }
}
